
/*Positioning map on tab 1*/
.map-container {
    position: absolute;
    top: 12em;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
/*Button styling*/
.expbut {
    background-color: #000000;
    /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 0px 10px;
    

}
.zoombut {
    background-color: #000000;
    /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    

}
/*Styling for popups*/
.mapboxgl-popup {
    max-width: 400px;
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
}